body {
  background-color: rgba(0, 0, 0, 0.685);
  padding: 100px;
}

.row {
  display: block;
}

@media (min-width: 448px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
